@model DemoSite.Models.PriceTable

@{ ViewBag.Title = "Radex Metal Group"; }

@section navigation{
<ul class="nav nav-tabs">
    <li role="presentation" class="active">
        @Html.ActionLink("Прайс", "Index")
    </li>
    @*<li role="presentation">
        @Html.ActionLink("Титан", "Titan")
    </li>*@
    <li role="presentation">
        @Html.ActionLink("О компании", "About")
    </li>
</ul>
}

<table class="table">
    <thead>
        <tr>
            <td>Вид</td>
            <td>Сторона квадрата</td>
            <td>Сталь</td>
            <td>Цена, руб/тн</td>
        </tr>
    </thead>
    
    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.Kind</td>
            <td>@item.Width</td>
            <td>@item.SteelMark</td>
            <td>@item.Price</td>
        </tr>
    }
</table>