@model Site2.Models.PriceTable
@{ ViewBag.Title = "ParitetProm"; }

@section navigation{
<ul class="nav nav-pills">
    <li class="active">@Html.ActionLink("Прайс", "Index")</li>
    <li class="">@Html.ActionLink("О компании", "About")</li>
    <li class="">@Html.ActionLink("Контакты", "Info")</li>
</ul>
}
<h2>Труба — бесшовная, нержавеющая, электросварная</h2>
<table class="table table-striped table-bordered">
    <caption>Цены: (Профиль: Труба, сталь: любая)</caption>
    <thead>
        <tr>
            <th>Размер/Диаметр</th>
            <th>Сталь</th>
            <th>Цена</th>
            @*<th>Примечание</th>*@
        </tr>
    </thead>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td>@item.Size</td>
            <td>@item.SteelMark</td>
            <td>@item.Price</td>
            @*<td>@item.Note</td>*@
        </tr>
    }
</table>